name: Testing

on: [push, pull_request]
jobs:
  test:
    timeout-minutes: 360
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        os: [ubuntu-latest]
        ghc: ['9.8.1', '9.6.3', '9.4.1', '9.2.4']

    steps:
    - uses: actions/checkout@v2
    - uses: haskell/actions/setup@v2.0.1
      with:
        ghc-version: ${{ matrix.ghc }}

    - name: Cache Cabal
      uses: actions/cache@v2
      with:
        path: |
          ~/.cabal/packages
          ~/.cabal/store
        key: ${{ runner.os }}-${{ matrix.ghc }}-{{matrix.ghc-lib}}-cabal-test

    - run: cabal update

    - name: Build
      shell: bash
      run: cabal build

    - name: Haddock
      shell: bash
      run: cabal haddock

    - name: Test
      shell: bash
      run: cabal test
